<h2>Map of night busses in Singapore</h2>

<%= content_tag "div", id: "features", data: {features: @features } do %> <% end %>
<%= content_tag "div", id: "lines", data: {lines: @lines_json } do %> <% end %>

<div id="map"></div>

<br>
<%= link_to "back", root_path  %>
