<h1>Map of some busses in Singapore</h1>

<%= content_tag "div", id: "features", data: {features: @features } do %> <% end %>
<%= content_tag "div", id: "lines", data: {lines: @lines_json } do %> <% end %>

<div id="map"></div>

<br>
<%= link_to "back", root_path  %>
