    <script>
        var app = angular.module("demoapp", ['leaflet-directive']);
        app.controller("BasicFirstController", [ "$scope", function($scope) {
            // Nothing here!
        }]);
    </script>

    <leaflet width="100%" height="480px"></leaflet>
    <h1>First steps, basic example</h1>
